body{
    font-family: Verdana;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #B2B2B2;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    line-height: 25px;
}

.pictureProfile{
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-right: 15px;
}

.imgvagabond{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin-right: 15px;
}
